<ion-header>
    <ion-navbar>
      <ion-title>
        Recipes
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding >
      <ion-item *ngIf="recipes==null">
          <p style="text-align:center">No recipes found</p>
        </ion-item>
  <div *ngIf="recipes!=null" >
    <div id="entete"></div>

    <ion-item>
        <p style="text-align:center">{{recipes.count}} recipes found</p>
      </ion-item>
    
    <ion-item *ngFor="let theRecipe of recipes.hits" (click)="openDetails(theRecipe)">
      <h1>{{theRecipe.recipe.label}}</h1>
      <img [src]=theRecipe.recipe.image />
    </ion-item>
    <div style="text-align:center">
      <h3><a href="#entete" ><ion-icon name="arrow-dropleft-circle" (click)="pagePrecedente()" style="font-size:xx-large; margin-top:5%" item-start></ion-icon></a>
      Page {{pageActuel}} of {{pageMax}}
      <a href="#entete" ><ion-icon name="arrow-dropright-circle" (click)="pageSuivante()" style="font-size:xx-large; margin-top:5%" item-start></ion-icon></a></h3>
    </div>
  </div>
  </ion-content>
  